.footer {
    background-color: #040019;
    color: #201e1f;
    font-family: 'Righteous', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px; 

}
.footer > .logo-footer h1 {
    width: 200px;
    height: 100%;
    color: #f15900;

}

.footer > .link-wrapper > .nav-link a {
    color:#f15900;
    font-family: 'Righteous';
    text-decoration: none;
    transition: 0.4s;
}
.footer > .link-wrapper > .nav-link a:hover {
    color: #1B2CC1;
    letter-spacing: 2px ;
}
.footer > .link-wrapper {
    
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
    
}
.footer > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #f15900;
}
.footer > .social-media-icons-wrapper a {
    font-size: 1.6em;
    color: #201e1f;
    transition: 0.6;
}
.fa-brands {
    color: #f15900;
    transition: 0.6;
}

.footer > .social-media-icons-wrapper a:hover {
    font-size: 1.6em;
    color: #1B2CC1;
    transition: 0.6;
}
.footer > .copyright-wrapper {
    margin-bottom:42px ;
    font-size: 0.7em;
    color:#1B2CC1 ;
    opacity: 50%;

}